src/week15/webapp-week15-flow1a.json
[
    {
        "id": "63275f03928ca949",
        "type": "tab",
        "label": "Lab01",
        "disabled": false,
        "info": "課堂練習 1：使用 inject 節點送出 Hello STUST! 訊息。\n\n - 每5秒鐘會自動清除訊息。",
        "env": []
    },
    {
        "id": "2036305aeab3de3d",
        "type": "tab",
        "label": "Lab02",
        "disabled": false,
        "info": "課堂練習 2：使用 switch 節點測試訊息屬性，將訊息派送到不同通道。\n\n - msg.payload = 1 ，訊息會被派送到 1 pass 通道。\n - msg.payload = 2 或 3，訊息會被派送到 catch 2,3 通道。\n - 其他訊息則會被忽略。",
        "env": []
    },
    {
        "id": "79799d53f9eda2c3",
        "type": "tab",
        "label": "lab03",
        "disabled": false,
        "info": "課堂練習 3：使用 range 節點轉換特定數值範圍的映對。\n\n - 模擬 ADC 轉換器，(0 ~ 5V) 映對8位元輸出資料。",
        "env": []
    },
    {
        "id": "3f34724b019b7afb",
        "type": "tab",
        "label": "lab04",
        "disabled": false,
        "info": "課堂練習 4：文字樣版 template 的使用。",
        "env": []
    },
    {
        "id": "a20be69a196214c1",
        "type": "tab",
        "label": "lab05",
        "disabled": false,
        "info": "課堂練習 5：利用 trigger 節點模擬LED的亮暗。\n\n - 固定時間送出一個 inject 訊號。\n - trigger 節點點亮LED 1秒鐘之後即關閉。",
        "env": []
    },
    {
        "id": "6680dd4e2ae176b7",
        "type": "inject",
        "z": "63275f03928ca949",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 190,
        "y": 180,
        "wires": [
            [
                "e1cfde6134a9db6c"
            ]
        ]
    },
    {
        "id": "e1cfde6134a9db6c",
        "type": "debug",
        "z": "63275f03928ca949",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 550,
        "y": 180,
        "wires": []
    },
    {
        "id": "c89c338f3b11f083",
        "type": "inject",
        "z": "63275f03928ca949",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hello STUST!",
        "payloadType": "str",
        "x": 210,
        "y": 280,
        "wires": [
            [
                "e1cfde6134a9db6c"
            ]
        ]
    },
    {
        "id": "06aec5899ef0fbb7",
        "type": "inject",
        "z": "2036305aeab3de3d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "d74ede12f6b5aa81"
            ]
        ]
    },
    {
        "id": "d74ede12f6b5aa81",
        "type": "switch",
        "z": "2036305aeab3de3d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 410,
        "y": 200,
        "wires": [
            [
                "2ccfce6c0941a27c"
            ],
            [
                "2af60c4660dd42e1"
            ],
            [
                "2af60c4660dd42e1"
            ]
        ]
    },
    {
        "id": "a12f7200a3551203",
        "type": "inject",
        "z": "2036305aeab3de3d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "x": 190,
        "y": 200,
        "wires": [
            [
                "d74ede12f6b5aa81"
            ]
        ]
    },
    {
        "id": "090de88013bc4385",
        "type": "inject",
        "z": "2036305aeab3de3d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "3",
        "payloadType": "num",
        "x": 190,
        "y": 260,
        "wires": [
            [
                "d74ede12f6b5aa81"
            ]
        ]
    },
    {
        "id": "2ccfce6c0941a27c",
        "type": "debug",
        "z": "2036305aeab3de3d",
        "name": "1 pass",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 610,
        "y": 100,
        "wires": []
    },
    {
        "id": "2af60c4660dd42e1",
        "type": "debug",
        "z": "2036305aeab3de3d",
        "name": "catch 3, 2",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 620,
        "y": 260,
        "wires": []
    },
    {
        "id": "a85dfd2ff7433bef",
        "type": "inject",
        "z": "2036305aeab3de3d",
        "name": "Rand(4,10)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "$floor($random()*7+4)\t",
        "payloadType": "jsonata",
        "x": 200,
        "y": 320,
        "wires": [
            [
                "d74ede12f6b5aa81"
            ]
        ]
    },
    {
        "id": "7d06f1303c9badb5",
        "type": "inject",
        "z": "79799d53f9eda2c3",
        "name": "Rand(0,5)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "$floor($random()*500)/100\t",
        "payloadType": "jsonata",
        "x": 140,
        "y": 340,
        "wires": [
            [
                "b4a42055be017ac2",
                "ac153f592d247182"
            ]
        ]
    },
    {
        "id": "b4a42055be017ac2",
        "type": "range",
        "z": "79799d53f9eda2c3",
        "minin": "0",
        "maxin": "5",
        "minout": "0",
        "maxout": "255",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 380,
        "y": 340,
        "wires": [
            [
                "da98a34b68dda6ca"
            ]
        ]
    },
    {
        "id": "da98a34b68dda6ca",
        "type": "debug",
        "z": "79799d53f9eda2c3",
        "name": "ADC",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 590,
        "y": 340,
        "wires": []
    },
    {
        "id": "ac153f592d247182",
        "type": "debug",
        "z": "79799d53f9eda2c3",
        "name": "",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 390,
        "y": 440,
        "wires": []
    },
    {
        "id": "0deee01afb68153d",
        "type": "inject",
        "z": "79799d53f9eda2c3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "b4a42055be017ac2"
            ]
        ]
    },
    {
        "id": "4d017bb790465aa3",
        "type": "inject",
        "z": "79799d53f9eda2c3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 130,
        "y": 280,
        "wires": [
            [
                "b4a42055be017ac2"
            ]
        ]
    },
    {
        "id": "c1d6cc011981b959",
        "type": "inject",
        "z": "79799d53f9eda2c3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2.5",
        "payloadType": "num",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "b4a42055be017ac2"
            ]
        ]
    },
    {
        "id": "03f71cd03a6041b6",
        "type": "template",
        "z": "3f34724b019b7afb",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{topic}} : {{payload}}",
        "output": "str",
        "x": 340,
        "y": 180,
        "wires": [
            [
                "fabf80784fda592c"
            ]
        ]
    },
    {
        "id": "0aa971878d8b8564",
        "type": "inject",
        "z": "3f34724b019b7afb",
        "name": "Rand(1,6)",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Roll Dice",
        "payload": "$floor($random()*6)+1\t",
        "payloadType": "jsonata",
        "x": 140,
        "y": 180,
        "wires": [
            [
                "03f71cd03a6041b6"
            ]
        ]
    },
    {
        "id": "fabf80784fda592c",
        "type": "debug",
        "z": "3f34724b019b7afb",
        "name": "",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 550,
        "y": 180,
        "wires": []
    },
    {
        "id": "459b770392e61a40",
        "type": "trigger",
        "z": "a20be69a196214c1",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 260,
        "y": 200,
        "wires": [
            [
                "267d27bd6c6874ba"
            ]
        ]
    },
    {
        "id": "267d27bd6c6874ba",
        "type": "debug",
        "z": "a20be69a196214c1",
        "name": "LED",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 450,
        "y": 200,
        "wires": []
    },
    {
        "id": "8cde2a9c71d060b8",
        "type": "inject",
        "z": "a20be69a196214c1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "459b770392e61a40"
            ]
        ]
    }
]